.header {
  height: 80px;
}

.container.head {
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.header-navigate {
  display: flex;
  align-items: center;
}
